.container {
    border: solid;
    border-color: black;
    justify-content: center;
    display: flex;
}

.container .workspace {
    border: solid;
    border-color: black;
    background-color: white;
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    border: solid;
    border-color: black;
    border-width: 1px;
    flex: 1;
}